<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/css/layout.css">
</head>
<body>
	<h1>DegreeVU</h1>
	
	<div id="scheduleGrid">
	</div>
	
	<div id="goals">
		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#goal1" data-toggle="tab">Computer Engineering Major</a></li>
		  <li><a href="#goal2" data-toggle="tab">Class Wishlist</a></li>
		</ul>

		<div class="tab-content">
		  <div class="tab-pane active" id="goal1">
			  <div class="goalSection color1">
				  <h2>Mathematics (18 Hours)</h2>
				  <div class="goalSectionCourseList">				  
		  				<div class="scheduleBlock">
		  					<div class="scheduleBlockHeader color1">
		  						CS 101
		  					</div>
		  					<div class="scheduleBlockBody">
		  						Programming and Problem Solving
		  					</div>
		  				</div>
				
		  				<div class="scheduleBlock">
		  					<div class="scheduleBlockHeader color2">
		  						CS 201
		  					</div>
		  					<div class="scheduleBlockBody">
		  						Data Structures and Stuff
		  					</div>
		  				</div>  
				  </div>
			  </div>
			  <div class="goalSection color2">
				  <h2>Basic Science (15 Hours)</h2>
				  <div class="goalSectionCourseList">				  
		  				<div class="scheduleBlock">
		  					<div class="scheduleBlockHeader color1">
		  						CS 101
		  					</div>
		  					<div class="scheduleBlockBody">
		  						Programming and Problem Solving
		  					</div>
		  				</div>
				
		  				<div class="scheduleBlock">
		  					<div class="scheduleBlockHeader color2">
		  						CS 201
		  					</div>
		  					<div class="scheduleBlockBody">
		  						Data Structures and Stuff
		  					</div>
		  				</div>  
				  </div>
			  </div>
		  </div>
		  <div class="tab-pane" id="goal2">...</div>
		</div>
	</div>
	
	<script src="/js/jquery-1.9.1.js"></script>
	<script src="/js/jquery-ui-1.10.2.custom.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/underscore-min.js"></script>
	<script src="/js/backbone-min.js"></script>
	<script src="/js/home.js"></script>
</body>
</html>