<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/css/layout.css">
</head>
<body>
	<div id="fadeOut"></div>
	<div id="scheduleGrid">
		<div class="infoCol">
			<h1>DegreeVU</h1>
			<p>What can you do with four years?</p>
		</div>
	</div>
	
	<div id="goals">		
	</div>
	
	<script src="/lib/jquery/jquery-1.9.1.js"></script>
	<script src="/lib/jquery-ui/jquery-ui-1.10.2.custom.js"></script>
	<script src="/lib/bootstrap/bootstrap.min.js"></script>
	<script src="/lib/underscore/underscore-min.js"></script>
	<script src="/lib/backbone/backbone-min.js"></script>
	<script src="/js/goals.js"></script>
	<script src="/js/home.js"></script>
	<script src="/js/views.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			//Display shim to handle scrolling in the schedule grid
			$('#scheduleGrid').scroll(function() {
				var el = $(this);
				el.css('background-position', '0 ' + (25 - el.scrollTop()) + 'px');
				el.find('.semesterName').css('top', el.scrollTop());
			});
		});
	
	</script>
</body>
</html>