<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/css/layout.css">
</head>
<body>
	<h1>DegreeVU</h1>
	
	<div id="scheduleGrid">
	</div>
	
	<div id="goals">
		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#goal1" data-toggle="tab">Computer Engineering Major</a></li>
		  <li><a href="#goal2" data-toggle="tab">Class Wishlist</a></li>
		</ul>

		<div class="tab-content">
		  <div class="tab-pane active" id="goal1">
		  </div>
		  <div class="tab-pane" id="goal2">
			  <div class="goalSectionCourseList">
			 	 <div id="testCourseHome"></div>
				 <div id="testCourseHome2"></div>
			  </div>
			
		  </div>
		</div>
	</div>
	
	<script src="/js/jquery-1.9.1.js"></script>
	<script src="/js/jquery-ui-1.10.2.custom.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/underscore-min.js"></script>
	<script src="/js/backbone-min.js"></script>
	<script src="/js/home.js"></script>
</body>
</html>