<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/css/layout.css">
</head>
<body>
	<h1>DegreeVU</h1>
	
	<div id="scheduleGrid">
	</div>
	
	<div id="goals">
	</div>
	
	<script src="/js/jquery-1.9.1.js"></script>
	<script src="/js/jquery-ui-1.10.2.custom.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/underscore-min.js"></script>
	<script src="/js/backbone-min.js"></script>
	<script src="/js/home.js"></script>
</body>
</html>