<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/css/layout.css">
</head>
<body>
	<div id="fadeOut"></div>
	<div id="scheduleGrid">
		<div class="infoCol">
			<h1>DegreeVU</h1>
			<p>What can you do with four years?</p>
		</div>
	</div>
	
	<div id="goals">		
	</div>
	
	<script data-main="./js/main" src="./lib/require/require-min.js"></script>
	
	
</body>
</html>