<!DOCTYPE html>
<head>
	<title>New UI Demo</title>
	<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet" type="text/css">
	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/css/layout.css">
</head>
<body>
	<div id="schedule">
		<div class="period">
			<h2>Fall 2013</h2>
			<div class="pdwrap">
				<div class="course">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
				<div class="course">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
				<div class="course">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
				<div class="course">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
				<div class="course">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
				<div class="course">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
				<div class="course">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
				<div class="course">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
				<div class="course">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
			</div>
		</div>
		<div class="period">
			<h2>Spring 2013</h2>
			<div class="pdwrap">
				<div class="course" draggable="true">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
				<div class="course">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
				<div class="course">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
			</div>
		</div>
		<div class="period">
			<h2>Spring 2013</h2>
		</div>
		<div class="period">
			<h2>Spring 2013</h2>
		</div>
		<div class="period">
			<h2>Spring 2013</h2>
		</div>
		<div class="period">
			<h2>Spring 2013</h2>
		</div>
		<div class="period">
			<h2>Spring 2013</h2>
		</div>
		<div class="period">
			<h2>Spring 2013</h2>
		</div>
		<div class="period">
			<h2>Spring 2013</h2>
		</div>
		<div class="period">
			<h2>Spring 2013</h2>
		</div>
		<div class="period">
			<h2>Spring 2013</h2>
		</div>
		<div class="period">
			<h2>Spring 2013</h2>
		</div>
		<div class="period">
			<h2>Spring 2013</h2>
		</div>
		<div class="period">
			<h2>Spring 2013</h2>
		</div>
	</div>
	<div id="menu">
		<div id="goals">
			<h2>I want to...</h2>
			<div class="goal">
				<input type="checkbox" id="check-001" checked>
				<label for="check-001">Major in Computer Science</label>
				<div class="progress">
				  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				    <span class="sr-only">60% Complete</span>
				  </div>
				</div>
			</div>
			<div class="goal">
				<input type="checkbox" id="check-002" checked>
				<label for="check-002">Minor in Chinese Language and Culture</label>
				<div class="progress">
				  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				    <span class="sr-only">60% Complete</span>
				  </div>
				</div>
			</div>
			<div class="goal">
				<input type="checkbox" id="check-003" checked>
				<label for="check-003">Minor in Chinese Language and Culture</label>
				<div class="progress">
				  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				    <span class="sr-only">60% Complete</span>
				  </div>
				</div>
			</div>
			<button id="addGoal" type="button" class="btn btn-default">Add something else</button>
		</div>
		
		
		
	</div>
	<script data-main="./js/main" src="./lib/require/require-min.js"></script>
</body>
</html>