<!DOCTYPE html>
<head>
	<title>New UI Demo</title>
	<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet" type="text/css">
	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/css/layout.css">
</head>
<body>
	<div id="schedule">
		<div class="period">
			<h2>TEST 2013</h2>
			<div class="pdwrap">
				<div class="course" draggable="true">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
				<div class="course">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
				<div class="course">
					<h3>CS 101</h3>
					Programming and Problem Solving
				</div>
				<div class="course">
					<h3>ES 140A</h3>
					Engineering Module
				</div>
			</div>
		</div>
	</div>
	<div id="menu"></div>
	<script data-main="./js/main" src="./lib/require/require-min.js"></script>
</body>
</html>