<!DOCTYPE html>

<html>
	<head>
		<title>Testing here</title>
	</head>
	
	<body>
		<script src="/lib/jquery/jquery-1.9.1.js"></script>
		<script src="/lib/jquery-ui/jquery-ui-1.10.2.custom.js"></script>
		<script src="/lib/bootstrap/bootstrap.min.js"></script>
		<script src="/lib/underscore/underscore-min.js"></script>
		<script src="/lib/backbone/backbone-min.js"></script>
		<script src="./js/views.js"></script>
		<script src="./js/home.js"></script>
		<script src="./js/validation.js"></script>
	</body>
</html>