<!DOCTYPE html>
<html>
	<head>
		<title>Upload Goals</title>
	</head>

	<body>
		<h3>Upload Goals</h3>
		<form id="uploadGoals">
			<input type="file" name="goal" />
			<input type="submit" value="submit" />
		</form>
	</body>
</html>