<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/goalsStyle.css" type = "text/css" />
	</head>
	<body>
		<h3><%= title %></h3>
		<div <% if (error) {%>  class="error" <%} else {%> class="success"<%}%>> <% if(message) {%> <%= message %><%} else { %>There is nothing to report!<%}%> </div>
		<a href="/goals">Return to upload page</a>
		<a href="/">Return to splash page</a>


	</body>
</html>