/* Schedule area */

#schedule {
	width:100%;
	height:60%;
	position:absolute; left:0; top:0;
	overflow:auto;
	white-space:nowrap;
	font-size:0;
}

.period {
	display:inline-block;
	min-height:100%;
	vertical-align:top;
	width:170px;
	font-size:14px;
	border-left:1px solid #ddd;
	position:relative;
	background-color:#eeeef9;
}

.period h2 {
	margin:0;
	padding-top:5px;
	font-family: 'Roboto Slab';
	font-size:1.3em;
	position:absolute; left:0; bottom:0;
	width:170px;
	height:35px;
	border-top:2px solid #ddd;
	color:#666;
	text-align:center;
	background-color:#f6f6f6;
}

.pdwrap {
	position:absolute; bottom:0;
	margin-bottom:35px;
	padding-top:35px;
	
	overflow:hidden;
	max-height:100%;
}

.pdwrap:hover {
	overflow-y:auto;
}

/* Schedule items */
.course {
	width:168px;
	font-size:9pt;
	position:relative;
	margin-bottom:1px;
	background-color:#ccc;
	border-radius:3px;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	overflow:hidden;
	white-space:normal;
	border:1px solid #aaa;
	line-height:1;
	
	height:47px; /* will be 48px */
}

.course h3 {
	font-size:1em;
	margin:0;
	margin-bottom:2px;
}

/* Menu area */

#menu {
	width:100%;
	height:40%;
	position:absolute; left:0; bottom:0;
	overflow:auto;
	padding-left:20%;
}

#goals {
	width:20%;
	position:fixed; left:0;
	min-height:100%;
	text-align:center;
	border-right:2px solid #ddd;
}

#goals h2 {
	font-family: 'Roboto Slab';
	margin:0;
	border-bottom:1px solid #ddd;
	font-size:1.3em;
	text-align:left;
	color:#666;
	padding:7px;
}

.goal {
	border-bottom:1px solid #ddd;
	position:relative;
	padding:7px;
	text-align:left;
}

.goal label {
	padding-left:20px;
}

.goal input[type=checkbox] {
	position: absolute; left:7px; top:7px;
}

.goal .progress {
	margin:0;
	height:7px;
}

.goal.selected {
	background-color:#eeeef9;
}

#addGoal {
	margin-top:1em;
}

/* Side checklist */

#sideChecklist {
	//position:absolute; right:10px; top:10px;
	position:fixed; right:30px;
	margin-top:10px;
	width:25%;
	//margin-left:83%;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:10px;
	background-color:#eeeef9;
	max-height:100%;
	overflow:auto;
}

#sideChecklist h2 {
	font-family:'Roboto Slab';
	margin:0;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:5px;
	font-size:1.5em;
}

#sideChecklist ul {
	font-size:0.9em;
}

#sideChecklist li > a {
	padding-left:20px;
	padding-right:20px;
	padding-top:0;
	padding-bottom:0;
}

#sideChecklist li.active > a {
	background-color:darken(#eeeef9, 3%);
}

#sideChecklist li ul {
	display:none;
}

#sideChecklist li.active ul {
	display:block;
	padding-left:10px;
}

/* Requirements list */
.requirementsList {
    padding-left:10px;
    padding-right:35%;
    padding-top:10px;
    list-style:none;
}

.requirementsList li {
    padding-top:10px;
}

.requirementsList h2, .requirementsList h3 {
    font-family:'Roboto Slab';
    display:inline-block;
    margin:0;
    padding-right:2px;
}

.requirementsList p.subtitle {
    display:inline;
    color:#666;
    font-size:1.4em;
}

.requirementsList ul.subReqs {
    list-style:none;
}

.requirementsList ul.subReqs p.subtitle {
    font-size:1.2em;
}

/* Drag and drop */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor:move;
}