<div class="scheduleCol <% print(season.toLowerCase()) %>" data-semesterseason="<%= season %>" data-semesteryear="<%= year %>">
	<div class="semesterName"><% if (season) { %><%= season %><% } %><% if (year) { %> <%= year %><% } %></div>
</div>